{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">

    

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>GeekCoders</span></strong>. All Rights Reserved
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://twitter.com/SushikshaWkc" class="youtube" target="_blank"><i
                    class="bx bxl-youtube"></i></a>
         
            <a href="mailto:geekcoders9@gmail.com" class="google-plus" target="_blank"><i class="bx bxs-envelope"></i></a>
            <a href="https://www.linkedin.com/company/sushiksha/" class="linkedin" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
